@charset "utf-8";

header {
    position: fixed;
    top: 0;
    z-index: 9;
}
nav {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background: #1a1a1ac7;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 1px solid #ffffff45;
}
nav ul {
    display: flex;
}
nav ul {
    gap: 20px;
}
nav ul li a {
    color: #fff;
    font-weight: 400;
}
nav h1 {
    font-family: "New Amsterdam", sans-serif !important;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
}